.account-container {
    display: flex;
    max-width: 900px;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
}

.account-sidebar {
    background: #f8f0fc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.tab-btn {
    border: none;
    background: none;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.3s;
}

.tab-btn.active, .tab-btn:hover {
    background: #cdb4db;
    color: white;
}

.account-content {
    flex: 1;
    padding: 70px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.account-container form {
    display: flex;
    flex-direction: column;
}

.account-container form label {
    margin-top: 15px;
    font-weight: bold;
}

.account-container form input, form textarea {
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.account-container form button {
    margin-top: 10px;
    padding: 15px;
    background: #b5838d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.account-container form button:hover {
    background: #8e5572;
}
